/* Flex layout */

body
 {
  display: flex;
  flex-direction: column;
}

.navMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  font-size: 30px;
  padding: 20px;
  font-family: 'Bangers', cursive;
  cursor: pointer;
  justify-content: space-around;
}

nav .nav {
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: white;
}

section .options {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
 
}
/* 
.options:hover {
  display: block;
} */


/* Normal stylings */


body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgb(252, 71, 71), rgb(76, 76, 245), rgb(42, 123, 42));
}
header, main, footer {
  width: 100vh;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 5rem;
}
#problem .expression {
  font-size: 48px;
  border: 1px solid #eeeeee;
  padding: 10px;
  margin: 0 40px;
}

/* .incorrect {
  color: red;
  font-size: 30px;
} */

#multiplicationPrompt,
#subtractionPrompt,
#additionPrompt,
#divisionPrompt {
  font-size: 48px;
  border: 1px solid #eeeeee;
  padding: 10px;
  margin: 0 40px;
}
/* .correct {
  color: lawngreen;
  font-size: 30px;

} */

.controls input[type="radio"] {
  transform: scale(2);
}

#answers ul {
  margin: 0;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: space-around;
}
#answers li {
  margin: 0 20px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 5px;
}
footer {
  margin-top: 50px;
  font-size: 12px;
}
button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #3f8502;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;

}
.hidden {
  display:none;
}



/* Menu page */

#operators{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.select-operation{
  display: flex;
  font: 20px;
  color: gray;
}

p {
  font-size: 1.5rem;
}

form {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  font-size: 2rem;
}
.select-operation p{
  color: black;
}

h1, p{
  display: flex;
  align-self: center;
  justify-content: center;
}
.start-btn{
  color:rgb(207, 219, 207)
}